@import "tailwindcss";
@import "@mantine/core/styles.css";

@theme {
  --color-black: #231f20;
  --color-white: #ffffff;
  --color-primary-50: #edf8fd;
  --color-primary-100: #dbedf5;
  --color-primary-200: #b2daed;
  --color-primary-300: #86c7e5;
  --color-primary-400: #66b6df;
  --color-primary-500: #3992c2;
  --color-primary-600: #15719a;
  --color-primary-700: #0e4f6c;
  --color-primary-800: #003f5b;
  --color-primary-900: #063246;

  --color-yellow-100: #fef9c3;
  --color-yellow-300: #fde047;

  --color-neutral-emphasis: #18181b;
  --color-neutral-default: #52525b;
  --color-neutral-muted: #a1a1aa;
  --color-foreground: #d4d4d8;

  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-42: 168px;
  --spacing-52: 208px;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 632px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-sans: var(--font-figtree);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-neutral-emphasis);
  font-family: var(--font-sans);
}
